@font-face {
    font-family: "Klein";
    src: url("../assets/fonts/klein-regular.ttf")
}

:root {
    --link-color: hsl(210, 85%, 65%);
    --highlight-color: hsl(150, 85%, 65%);
}

body {
    color: #DDDDDD;
    font-family: "Klein";
    font-size: 16px;
    line-height: normal;
}

body, #nav::before {
    background-color: hsl(212, 40%, 18%);
    background-image: radial-gradient(circle at center, hsl(212, 40%, 18%), hsl(219, 40%, 8%));
}

#content, #nav-navbar {
    box-sizing: content-box;
    max-width: 75rem;
}

#content {
    margin: 2rem auto;
}

/* Animations */
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Navbar */
#nav {
    position: relative;
    background-color: hsl(212, 40%, 18%);
    box-shadow: 0.1rem 0rem 1rem hsla(219, 40%, 10%, 0.5);
    padding: 1rem 0rem;
}

#nav::before {
    content: "";
    position: absolute;
    filter: blur(5rem);
    top: 0rem;
    left: 0rem;
    bottom: 0rem;
    right: 0rem;
}

#nav-navbar {
    justify-content: flex-end;
    width: 100%;
    padding: 0rem 2rem;
    margin: auto;
    z-index: 1;
}

#nav-navbar > a + a{
    margin-left: 2rem;
}

/* Carousel */
#carousel, .project {
    box-shadow: 0rem 0.3rem 0.5rem #000000;
    transition: box-shadow 250ms ease-out;
}

.carousel-image {
    width: 100%;
}

/* Project list */
#project-list {
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.project {
    animation: 1s linear slide-up;
    position: relative;
    text-align: center;
    cursor: pointer;
    margin: 1rem;
}

.project:hover {
    box-shadow: 0rem 0rem 0.5rem 0.3rem var(--link-color);
}

.project, .project img {
    border-radius: 1.4rem;
}

.project a {
    width: 100%;
    height: 100%;
}

.project .title {
    position: absolute;
    color: #DDDDDD;
    text-align: center;
    bottom: 1rem;
    width: 100%;
}

/* Disclaimer */
#disclaimer {
    animation: 1s linear slide-up;
    padding-top: 3rem;
    border-top: 1px solid #AAAAAA;
    margin: 3rem 3rem;
}

/* Global styles */
a {
    color: var(--link-color);
}

/* Override Bootstrap */
a:hover, a:not([href]).nav-active {
    color: var(--highlight-color);
}

a, a:hover {
    text-decoration: none;
    transition: color 250ms linear;
}

.flex {
    display: flex;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.bold {
    font-weight: bold;
}